:root {
  --main-color-text: #404040;
  --main-color: #ffffff;
  --secondary-color: #161f49;
  --main-color-btn: #2468ff;
}

body {
  margin: 0 auto;
  width: 1470px;
  padding: 0 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  color: var(--main-color-text);
  background-color: var(--main-color);
}

/* Reset */

h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  display: block;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
}

/* Header */

.header-wrap-text {
  padding: 5px 0;
  background-color: var(--secondary-color);
}

.header-text {
  font-size: 14px;
  line-height: 1.64;
  text-align: center;
  letter-spacing: 0.10998px;

  color: var(--main-color);
}
.header-wrap {
  display: flex;
  align-items: center;
  padding-left: 36px;
}

.header-logo {
  margin-right: 195px;
}

.header-list {
  display: flex;
  gap: 37px;
}

.header-item {
  color: var(--main-color-text);
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.10998px;
}

.header-btn {
  margin-left: auto;
  padding: 27px 64px;

  font-family: inherit;
  font-size: 14px;
  line-height: 1.79;
  text-align: center;
  letter-spacing: 0.10998px;
  text-transform: uppercase;

  color: var(--main-color);
  background-color: var(--main-color-btn);

  border: none;
}
