:root {
  --main-color-text: #404040;
  --main-color: #ffffff;
  --secondary-color: #161f49;
  --tretiary-color: #f7f7f7;
  --main-color-btn: #2468ff;
  --second-color-btn: #999999;
}

body {
  margin: 0 auto;
  width: 1470px;
  padding: 0 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: var(--main-color-text);
  background-color: var(--main-color);
}

/* Reset */

h1,
h2,
h3,
h4,
h5,
p,
ul {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  display: block;
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn.primary {
  padding: 19px 0;

  min-width: 220px;

  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.11px;
  text-transform: uppercase;

  background-color: var(--main-color-btn);
  color: var(--main-color);

  border: none;
  cursor: pointer;
}

.btn.secondary {
  position: relative;

  padding: 5px 2px;

  min-width: 78px;

  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.15;

  text-transform: uppercase;

  background-color: transparent;
  color: currentColor;
  border: none;
  cursor: pointer;
}

.btn.secondary::after {
  content: '';

  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 1px;

  background-color: var(--main-color-text);
}

/* Header */

.header-wrap-text {
  padding: 5px 0;
  background-color: var(--secondary-color);
}

.header-text {
  font-size: 14px;
  line-height: 1.64;
  text-align: center;
  letter-spacing: 0.10998px;

  color: var(--main-color);
}
.header-wrap {
  display: flex;
  align-items: center;
  padding-left: 36px;
}

.header-logo {
  margin-right: 195px;
}

.header-list {
  display: flex;
  gap: 37px;
}

.header-item {
  color: var(--main-color-text);
  line-height: 1.39;
  text-align: center;
  letter-spacing: 0.10998px;
}

.header-btn {
  margin-left: auto;
  padding: 27px 64px;

  font-family: inherit;
  font-size: 14px;
  line-height: 1.79;
  text-align: center;
  letter-spacing: 0.10998px;
  text-transform: uppercase;

  color: var(--main-color);
  background-color: var(--main-color-btn);

  border: none;
  cursor: pointer;
}

/* Hero */
.hero {
  position: relative;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 367px;
  width: 100%;

  background-image: url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
}
.hero-title {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 72px;
  line-height: 1.11;

  color: var(--main-color);
}

.hero-text {
  margin-bottom: 16px;

  font-size: 21px;
  line-height: 1.38;

  color: var(--main-color);
}

.hero-btn {
  padding: 18px 36px 17px 37px;

  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 0.96;
  letter-spacing: 0.11px;
  text-transform: uppercase;

  border: 1px solid #ffffff;

  background-color: transparent;
  color: var(--main-color);
  cursor: pointer;
}

.hero::after {
  position: absolute;
  left: calc(50% - 288px);
  bottom: -44px;
  display: block;
  content: '';
  width: 576px;
  height: 324px;

  background-image: url(../images/device-hero.png);
}

.explore-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 110px;
  padding-bottom: 116px;
  text-align: center;
  margin: 0 auto;
}

.explore-text {
  margin-bottom: 21px;
  line-height: 1.15;
}
.amazon-logo {
  margin-bottom: 27px;
}

/* Wifi */
.wifi-section {
  margin: 0 auto;
  text-align: center;
}
.wifi-title {
  margin-bottom: 44px;
  font-family: inherit;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.2;
}
.wifi-text {
  margin-bottom: 88px;
  line-height: 1.4;
}

.wifi-section .btn {
  font-weight: 400;
}

.wifi-thumb {
  display: flex;
  justify-content: center;
}

/* Devices */

.devices-section {
  padding-top: 580px;
  padding-bottom: 80px;
  background-image: url(../images/devices.jpg);
  background-color: var(--main-color-text);
}

.devices-wrap {
  margin-bottom: 84px;
  padding-left: 188px;
}

.devices-list {
  display: flex;
}

.devices-item:first-child {
  width: 400px;
  margin-right: 240px;
}

.devices-item:last-child {
  width: 542px;
}

.suptitle-wrapper {
  margin-bottom: 16px;
  padding: 1px 14px;

  width: 81px;

  background-color: var(--main-color);
  border-radius: 18px;
}

.devices-suptitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.31;
  text-transform: uppercase;

  color: #000000;
}

.devices-title {
  margin-bottom: 13px;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.22;

  color: var(--main-color);
}
.devices-subtitle {
  margin-bottom: 20px;

  font-size: 42px;
  line-height: 1.14;

  color: var(--main-color);
}
.devices-subsubtitle {
  margin-bottom: 33px;
  line-height: 25px;
  line-height: 1.4;
  color: var(--main-color);
}
.devices-price {
  margin-bottom: 36px;
  line-height: 25px;
  line-height: 1.4;
  color: var(--main-color);
}
.price {
  font-weight: 700;
}
.devices-section .secondary {
  margin: 0 auto;
  display: block;
  color: var(--main-color);
}

.devices-section .secondary::after {
  background-color: var(--main-color);
}

/* Routers */
.routers-section {
  padding: 200px 308px;

  background-color: var(--main-color-text);
}

.routers-title {
  margin-bottom: 45px;

  font-weight: 700;
  font-size: 42px;
  line-height: 1.14;
  text-align: center;

  color: var(--main-color);
}

.routers-section img {
  margin: 0 auto;
}

/* Potential */

.potential-section {
  padding-top: 168px;
  padding-bottom: 72px;
  padding-left: 353px;
  padding-right: 353px;
  background-image: url(../images/potential.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--main-color-text);

  text-align: center;
}

.contoller-list {
  display: flex;
  justify-content: center;
  gap: 31px;
  margin-bottom: 57px;
}

.potential-title {
  margin-bottom: 44px;

  font-weight: 400;
  font-size: 50px;
  line-height: 1.2;

  color: var(--main-color);
}

.potential--text {
  margin-bottom: 118px;

  line-height: 1.4;
  text-align: center;

  color: var(--main-color);
}

.indicator-list {
  display: flex;
  justify-content: center;
  gap: 10px;

  margin-top: 69px;
  margin-bottom: 0;
}

.indicator-item {
  background: var(--main-color);
  border: 1px solid var(--main-color);

  width: 8px;
  height: 8px;
}

.controller-link {
  display: flex;
  color: var(--main-color);
}

.controller-icon {
  fill: currentColor;
}

/* Connectivity */

.connectivity-section {
  padding-top: 135px;
  padding-bottom: 120px;

  text-align: center;
}

.connectivity-title {
  margin-bottom: 44px;

  font-weight: 400;
  font-size: 50px;
  line-height: 1.2;
}
.connectivity-text {
  margin-bottom: 78px;

  line-height: 1.4;
}

.connectivity-section .wrapper {
  display: flex;
  justify-content: center;
}

/* TrueMesh */

.truemesh-section {
  padding: 117px 0 124px 0;

  text-align: center;
  color: var(--main-color);
  background-color: var(--secondary-color);
}
.truemesh-title {
  margin-bottom: 44px;

  font-weight: 400;
  font-size: 50px;
  line-height: 1.2;
}
.truemesh-text {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 38px;

  width: 710px;
  line-height: 1.4;
}

.truemesh-section .btn {
  margin-bottom: 50px;
}

.truemesh-section .wrapper {
  display: flex;
  justify-content: center;
}

/* Features */

.features-section {
  padding-top: 116px;
  padding-bottom: 120px;
  padding-left: 234px;
  padding-right: 234px;
}

.features-title {
  margin-bottom: 84px;

  font-weight: 400;
  font-size: 50px;
  line-height: 1.2;
  text-align: center;
}

.features-list {
  display: flex;
  justify-content: baseline;
}

.features-item {
  display: flex;
  flex-direction: column;

  min-height: 427px;
  justify-content: space-between;
}

.features-item:nth-child(1) {
  margin-right: 164px;
  width: 206px;
}

.features-item:nth-child(2) {
  margin-right: 171px;
  width: 198px;
}

.features-item:nth-child(3) {
  width: 191px;
}

.features-icon {
  margin-bottom: 32px;
}

.features-subtitle {
  margin-bottom: 17px;
  font-size: 21px;
  line-height: 1.15;
}
.features-text {
  line-height: 1.4;
}

.features-item .btn {
  padding-left: 0;
  padding-right: 0;
}

.features-item:nth-child(1) .btn-wrap {
  text-align: left;
  min-width: 136px;
}

/* Sizes */

.size-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 69px;
  padding-bottom: 108px;

  background-color: var(--tretiary-color);
}
.size-title {
  font-weight: 400;
  font-size: 50px;
  line-height: 1.2;
  text-align: center;

  color: var(--main-color-text);
}

.indicator-list {
  display: flex;
}

.indicator-item {
  padding: 3px;
  border: none;
}

.indicator-item:hover {
  border: 1px solid #00b68c;
}

.indicator-wrap {
  color: var(--main-color);
  background-color: #00b68c;
}

.img-list {
  margin-bottom: 58px;
}

.controller-wrap {
  display: inline-flex;
  align-items: center;
  gap: 14px;

  margin-bottom: 20px;
}
.size-section .contoller-list {
  display: inline-flex;
  gap: 14px;
  margin-bottom: 0;
}

.controller-link {
  padding: 15px 23px 14px 23px;

  border: 2px solid rgba(64, 64, 64, 0.3);
  color: rgba(64, 64, 64, 0.3);
}

.size-section .btn {
  display: block;
  background-color: var(--second-color-btn);
}
